/* адаптивная верстка */

@media (max-width: 1156px) {
    .fruit_items {
        padding-left: 10px;
        padding-right: 10px;
    }
    .team_items {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .team_item {
        width: 60%;
    }
    .team_item:nth-child(3) {
        margin-bottom: 40px;
    }
}

@media (max-width: 1145px) {
    .smoothie_block {
        flex-direction: column;
        align-items: center;
    }
    .smoothie_item {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .smoothie_item h4 {
        text-align: center;
    }
    .smoothie_item p {
        text-align: center;
    }
    .smoothie_img {
        margin-left: 0;
        margin-right: 0;
        max-width: 280px;
    }
}

@media(max-width:916px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about_title {
        font-size: 40px;
    }
}

@media (max-width: 800px) and (min-width: 592px) {
    .fruit_items {
        flex-wrap: wrap;
    }
    /* .fruit_item:nth-child(1),
    .fruit_item:nth-child(3) {
        padding-left: 50px;
    }
    .fruit_item:nth-child(2),
    .fruit_item:nth-child(4) {
        padding-right: 50px;
    } */
    .fruit_item {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:800px) {
    .team_item:nth-child(1),
    .team_item:nth-child(2),
    .team_item:nth-child(3),
    .team_item:nth-child(4) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 165px;
    }
    .team_item:nth-child(1) .team_img,
    .team_item:nth-child(2) .team_img,
    .team_item:nth-child(3) .team_img,
    .team_item:nth-child(4) .team_img {
        margin: 0;
        max-width: 330px;
        margin-top: -165px;
    }
    .team_item:nth-child(1),
    .team_item:nth-child(2),
    .team_item:nth-child(3),
    .team_item:nth-child(4) {
        margin-left: 0;
        margin-right: 0;
    }
    .team_item:nth-child(1) .team_data,
    .team_item:nth-child(2) .team_data,
    .team_item:nth-child(3) .team_data,
    .team_item:nth-child(4) .team_data {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team_data__p {
        text-align: center;
    }
    .team_social {
        margin-bottom: 20px;
    }
    .team_data__title {
        margin-top: 0;
    }
    .team_item:nth-child(3) .team_data .team_data__p,
    .team_item:nth-child(4) .team_data .team_data__p {
        text-align: center;
    }
}

@media(max-width:654px) {
    .navbar {
        flex-direction: column;
    }
    .logo_a {
        order: -1;
    }
}

@media(max-width:591px) {
    .fruit_items {
        flex-direction: column;
    }
}