.container {
    margin: 0 auto;
    max-width: 1143px;
}

.navbar {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 73px;
}

.navbar_menu {
    width: 197px;
    display: flex;
    justify-content: space-between;
}

.navbar_a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #433840;
    text-decoration: none;
}

.navbar_a:hover {
    color: #FEA3AC;
}


/* about */

.about {
    background: url(../img/about.jpg) center center no-repeat;
    position: relative;
    margin: 0 auto;
    /* display: none; */
}

.about::before {
    content: '';
    background: url(../img/top.svg) center center;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
}

.about::after {
    content: '';
    background: url(../img/bottom.svg) center center;
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
}

.about_items {
    padding-top: 150px;
    padding-bottom: 135px;
}

.about_title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}

.about_subtitle {
    font-family: Waiting for the Sunrise;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}


/* smoothie */

.smoothie {
    margin-top: 72px;
    /* display: none; */
}

.smoothie_block {
    display: flex;
    max-width: 1131px;
    margin: 0 auto;
}

.smoothie_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smoothie_item {
    width: 332px;
    min-height: 120px;
}

.smoothie_item h4 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #433840;
    margin-bottom: 12px;
}

.smoothie_item p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    color: #9A9A9A;
}

.smoothie_img {
    margin-top: 70px;
    margin-left: 48px;
    margin-right: 39px;
    max-width: 380px;
}


/* fruit */

.fruit {
    position: relative;
    /* top: 300px; */
    max-width: 1820px;
    background-color: #FEA3AC;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    /* display: none; */
}

.fruit::before {
    content: "";
    position: absolute;
    background: url(../img/top.svg) center center no-repeat;
    width: 100%;
    height: 146px;
    top: -15px;
}

.fruit::after {
    content: "";
    position: absolute;
    background: url(../img/bottom.svg) center center no-repeat;
    width: 100%;
    height: 111px;
    bottom: -1px;
}

.fruit_items {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 190px;
    padding-bottom: 190px;
}

.fruit_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fruit_img {
    height: 135px;
}

.fruit_title {
    font-family: Waiting for the Sunrise;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 99px;
    color: #DFEEB6;
    margin-left: 8px;
}

.fruit_subtitle {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
}


/* team */

.team {
    /* display: none; */
}

.team_title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */
    color: #433840;
    text-align: center;
}

.team_subtitle {
    font-family: Waiting for the Sunrise;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #F7A1A8;
    text-align: center;
    margin-bottom: 60px;
}

.team_items {
    max-width: 1143px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team_item {
    display: flex;
    width: calc(50% - 11px - 165px);
    border-radius: 5px;
}


/*   мы обращаемся к team 1 и 2 блок */

.team_item:nth-child(1),
.team_item:nth-child(2) {
    margin-bottom: 40px;
    margin-left: 165px;
}

.team_img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.team_item:nth-child(1) .team_img,
.team_item:nth-child(2) .team_img {
    margin-left: -165px;
    margin-right: 17px;
}


/* задаем фоновый цвет 1 и 4 блокам */

.team_item:nth-child(1),
.team_item:nth-child(4) {
    background: #C9E3F4;
}


/* задаем фоновый цвет 2 и 3 блокам */

.team_item:nth-child(2),
.team_item:nth-child(3) {
    background: #DFEEB6;
}


/*   мы обращаемся к team 3 и 4 блок */

.team_item:nth-child(3),
.team_item:nth-child(4) {
    flex-direction: row-reverse;
    margin-right: 165px;
}

.team_item:nth-child(3) .team_img,
.team_item:nth-child(4) .team_img {
    margin-right: -165px;
    margin-left: 17px;
}

.team_item:nth-child(3) .team_data,
.team_item:nth-child(4) .team_data {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.team_item:nth-child(3) .team_data .team_data__p,
.team_item:nth-child(4) .team_data .team_data__p {
    text-align: right;
}

.team_data__title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 74px;
}

.team_data__subtitle {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #433840;
}

.team_data__p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    color: #433840;
    margin-top: 14px;
    margin-bottom: 22px;
}


/* footer */

footer {
    display: none;
}

.footer-up {
    margin-top: 150px;
    background: url(../img/footer-up.jpg) center center no-repeat;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    /* position: relative;
    top: 61px; */
    padding-bottom: 70px;
}

.footer_item h3 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 61px;
    margin-bottom: 25px;
}

.footer_span {
    display: flex;
    flex-direction: column;
}

.days,
.footer_info div a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    color: #FFFFFF;
}

.footer_info div:nth-child(1) a {
    font-weight: bold;
}

.days span {
    color: #DFEEB6;
}

.footer_ins {
    width: 343px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


/* второй футер */

.footer-bottom {
    background: #433840;
    max-width: 1920px;
    margin: 0 auto;
}

.bottom_items {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.bottom_p {
    align-items: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    /* identical to box height, or 233% */
    color: #FFFFFF;
}

.bottom_img {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer_bottom__img {
    width: 16px;
}